* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

/* Header */
.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 20px;
}

.container a {
  text-decoration: none;
  color: #272a31;
}

.nav-grey,
.container h2,
.container nav {
  display: none;
}

.hamburger {
  position: relative;
  display: block;
  width: 35px;
  cursor: pointer;
  z-index: 3;
  appearance: none;
  background: none;
  outline: none;
  border: none;
}

.hamburger .bar,
.hamburger::after,
.hamburger::before {
  content: '';
  display: block;
  width: 100%;
  height: 5px;
  background-color: #272a31;
  margin: 6px 0;
  transition: 0.4s;
}

.hamburger.is-active::before {
  transform: rotate(-45deg) translate(-8px, 6px);
  background-color: #ec5242;
}

.hamburger.is-active::after {
  transform: rotate(45deg) translate(-9px, -8px);
  background-color: #ec5242;
}

.hamburger.is-active .bar {
  opacity: 0;
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  min-height: 100vh;
  display: block;
  background-color: #d3d3d3;
  padding-top: 120px;
  transition: 0.4s;
}

.mobile-nav.is-active {
  left: 0;
}

.mobile-nav a {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 0 auto 16px;
  text-align: center;
  padding: 12px 16px;
  font-size: 30px;
  font-weight: 600;
  color: #ec5242;
  text-decoration: none;
}

h2 span {
  color: #ec5242;
}

@media screen and (min-width: 768px) {
  .nav-grey {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #272a31;
    color: #fff;
    padding: 0 14%;
  }

  .nav-grey ul {
    display: flex;
    gap: 18px;
    list-style: none;
    font-size: 12px;
    padding: 10px 0;
  }

  .fab {
    font-size: 20px;
  }

  .hamburger {
    display: none;
  }

  .container {
    display: flex;
    justify-content: space-between;
    padding: 1% 14%;
    background-color: #fff;
    box-shadow: 1px 2px 3px rgba(218, 218, 218, 0.8);
  }

  .container h2 {
    display: flex;
    align-items: center;
    font-size: 30px;
  }

  .container nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 70px;
    font-size: 14px;
  }

  .container nav a {
    text-decoration: none;
    color: #272a31;
  }

  .container nav a:hover {
    color: #ec5242;
  }

  .campaign {
    border: #ec5242 5px solid;
    color: #ec5242;
    padding: 10px 16px;
    letter-spacing: -1px;
  }
}

/* Main Page */
.mainpage {
  background-image: url(./images/mob-bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(218, 218, 218, 0.8);
}

.texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 95%;
  padding: 90px 0 90px 40px;
  margin-top: -60px;
}

.texts h1 {
  color: #ec5242;
  font-size: 60px;
  font-weight: 900;
  background-image: url(./images/font-bg.jpeg);
  background-clip: unset;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 20px;
}

.texts h2 {
  color: #ec5242;
  font-size: 30px;
}

.texts p {
  color: #272a31;
}

.info {
  border: 3px solid #fff;
  padding: 14px;
  line-height: 25px;
  letter-spacing: -1px;
}

.date {
  font-weight: 800;
  font-size: 35px;
  padding-top: 35px;
  padding-bottom: 15px;
}

.address {
  font-size: 20px;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .mainpage {
    background-image: url(./images/ed-bg.jpeg);
    margin-top: 60px;
  }

  .texts {
    padding-left: 14%;
    padding-bottom: 12%;
    padding-top: 7%;
  }

  .texts h2 {
    font-size: 60px;
    font-weight: 500;
  }

  .texts h1 {
    font-size: 70px;
    font-weight: 1000;
    line-height: 75px;
  }

  .texts p {
    width: 70%;
  }
}

/* Main Program */
.program {
  background-image: url(./images/prog-bg.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #d3d3d3;
}

.program-text,
.guests {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 50px 0;
}

.program-text h2 {
  font-size: 25px;
  font-weight: 400;
}

.divider {
  width: 15%;
  height: 3px;
  background-color: #ec5242;
}

.cards {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 4%;
  width: 80%;
  padding: 30px 0;
}

.card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 1%;
  background-color: rgba(222, 220, 220, 0.1);
}

.card-body i {
  order: 1;
  width: 16%;
  text-align: center;
  color: #d3d3d3;
  font-size: 35px;
  text-shadow: 1.5px 1px #ec5242;
}

.card-title {
  order: 2;
  width: 22%;
  text-align: center;
  padding: 10px;
  color: #ec5242;
}

.card-body p {
  order: 3;
  width: 62%;
}

.card-body:hover {
  border: 3px solid #fff;
}

.buy {
  color: #fff;
  background-color: #ec5242;
  padding: 25px 95px;
  text-decoration: none;
  font-size: 18px;
}

.web-link {
  display: none;
}

@media screen and (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: start;
    gap: 0.7%;
  }

  .card-body {
    flex-direction: column;
    font-size: 12px;
    height: 100%;
    justify-content: flex-start;
    padding: 15px 0;
  }

  .card-body i,
  .card-body p,
  .card-title {
    width: 100%;
    text-align: center;
  }

  .card-body p {
    padding: 12px;
    line-height: 20px;
  }

  .card-title {
    font-size: 18px;
  }

  .divider {
    width: 3%;
    height: 1px;
  }

  .web-link {
    display: inline;
    color: #d3d3d3;
    padding: 26px 0;
  }

  .buy {
    display: none;
  }
}

/* Guest Singers */
.guest-heading {
  font-weight: bold;
  font-size: 24px;
}

.guest-div {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding-top: 30px;
}

.guest-card {
  display: flex;
  justify-content: space-between;
  gap: 5%;
  padding-bottom: 70px;
}

.guest-images {
  padding-right: 55px;
}

.guest-image {
  position: absolute;
  width: 90px;
  height: 90px;
  margin: 16px -36px;
}

.guest-image-bg {
  width: 50px;
  height: 50px;
}

.guest-job {
  font-size: 12px;
  color: #ec5242;
}

.guest-divider-grey {
  width: 15px;
  height: 2px;
  background-color: rgba(211, 211, 211, 0.9);
  margin: 0.3rem 0;
}

.guest-text {
  font-size: 12px;
  color: #272a31;
}

@media screen and (min-width: 768px) {
  .guest-div {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: auto;
  }
}

/* Partners */
.partners {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 50px 20px;
  background-color: #272a31;
  color: #d3d3d3;
}

.list-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding-top: 30px;
  list-style: none;
  font-size: 30px;
  color: #b9b8b8;
}

.list-group span,
#muzicolla {
  font-weight: 900;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20%;
  padding: 20px 30px;
}

/* --------- About Page --------- */

/* Main Page -- About */
.mainpage-about {
  background-image: url(./images/about-bg.webp);
  box-shadow: inset 0 0 0 2000px rgba(218, 218, 218, 0.8);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -58px;
}

.texts-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: #ec5242;
  padding: 90px 0;
}

.contact,
.ed-mail {
  text-align: center;
  color: #272a31;
  width: 60%;
}

.detail {
  text-align: center;
  color: #272a31;
  width: 90%;
  background-color: white;
  padding: 16px;
  border: 1px solid grey;
  line-height: 25px;
}

.ed-mail {
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .mainpage-about {
    background-image: url(./images/main-bg.webp);
    box-shadow: inset 0 0 0 2000px rgba(218, 218, 218, 0.8);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0;
  }

  .texts-about h1,
  .texts-about h2 {
    font-size: 40px;
    font-weight: 1000;
  }

  .detail {
    width: 70%;
  }
}

/* Detail Page -- About */
.texts-about-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: #272a31;
  padding: 50px 0;
}

.texts-about-2 h3 {
  text-align: center;
}

.detail-2 {
  text-align: center;
  width: 80%;
  padding-bottom: 20px;
}

.texts-about-2 a {
  text-decoration: none;
  color: #272a31;
  border: 1px solid grey;
  padding: 20px 100px;
}

.mobile-nav a:hover {
  background-color: #ddb5b1;
}

@media screen and (min-width: 768px) {
  .detail-2 {
    width: 60%;
  }
}

/* Past Concerts Page -- About */
.past-concerts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 40px 0;
  border-top: 1px solid grey;
}

.a-past {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.a-past-1 {
  background-image: url(./images/tour1.png);
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgb(236, 82, 66, 0.345);
  width: 320px;
  height: 180px;
}

.a-past-2 {
  background-image: url(./images/tour2.webp);
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgb(236, 82, 66, 0.4);
  width: 320px;
  height: 180px;
}

.a-past-blur {
  color: #fff;
  text-align: center;
  padding-top: 60px;
  font-size: 20px;
}

@media screen and (min-width: 768px) {
  .a-past {
    flex-direction: row;
  }
}
